.login {
  width: 100%;
}
.label {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.second-part {
  display: flex;
  justify-content: center;
  align-items: center;
}
